.classCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  max-width: 80%;
  background-color: #8a9cb3;
  font-weight: bold;
  margin: 0 auto;
  gap: 10%;
  border-radius: 20px;
}

.classRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  max-width: 80%;
  background-color: #f5f5f5;
  margin: 0 auto;
  gap: 10%;
  margin-top: 10px;
  border-radius: 20px;
}

.classInfo {
  width: 80%;
}

.classTitleContainer {
  position: relative;
  align-items: center;
  width: 80%;
  text-align: center;
}

.noTop {
  margin-top: 0px;
}

a {
  text-decoration: none;
}
