.editClassCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editClassContainer {
    max-width: 400px;
    margin: 2rem auto;
    text-align: center;
}

.editClassForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editClassInput {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.editClassButton {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.editClassButton:hover {
    background-color: #218838;
}

.editClassSelect {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.formLabel {
    font-size: 1.1rem;
    margin-bottom: -5px;
    margin-top: -5px;
    display:flex;
    align-content:left;
    font-weight: bold;
}

.deleteClassButton {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fa4d43;
    color: white;
    border: none;
    cursor: pointer;
}

.deleteClassButton:hover {
    background-color: #cf3730;
}